form,
.todo-list {
    input[type="checkbox"] {
        appearance: none;
        inline-size: var(--spacing-300);
        min-inline-size: var(--spacing-300);
        block-size: var(--spacing-300);
        border-radius: 50%;
        border: 1px solid var(--c-white-200);
        transition: border-color 0.3s ease-in;

        &:hover {
            border-color: transparent;
            background-image: linear-gradient(
                    light-dark(var(--c-white), var(--c-purple-950)),
                    light-dark(var(--c-white), var(--c-purple-950))
                ),
                radial-gradient(
                    circle at 100%,
                    var(--c-blue-500),
                    var(--c-purple-400)
                );

            background-origin: border-box;
            background-clip: padding-box, border-box;
            transition-duration: 0;
        }

        &:checked {
            background-image: radial-gradient(
                    circle at 100%,
                    var(--c-blue-500),
                    var(--c-purple-400)
                ),
                url("/public/img/icon-check.svg");
            background-position: center, center;
            background-size: cover, contain;
        }
    }

    input[type="text"] {
        padding-block: var(--spacing-150);
        inline-size: 100%;
        padding-inline-start: var(--spacing-100);
    }
}

input:not([type="checkbox"], [type="radio"]) {
    inline-size: 100%;
}

input,
button {
    &:focus {
        outline-color: light-dark(var(--c-purple-900), var(--c-white-100));
    }
}
